# **Install the Altair library**

In [ ]:
# Write your code here

# **Task 1: Import pandas, numpy and altair**

In [ ]:
# Write your code here

# **Task 2: Import the cereal .csv file into a DataFrame**

In [ ]:
# Write your code here

# **Task 3: Display a single column from the DataFrame**

In [ ]:
# Write your code here

# **Task 4: Rename a column**

In [ ]:
# Write your code here

# **Task 5: Find the product with the highest and the lowest rating**

In [ ]:
# Write your code here

# **Altair Task 1: Create a scatterplot**



*   **Explore the cereal dataset and find variables to use in the scatterplot.**
*   **Create a scatterplot**

In [ ]:
# Write your code here

# **Altair Task 2: Make the scatterplot interactive**


*   **Explore the different opportunities in the Altair library examples and try different options**

In [ ]:
# Write your code here

# **Altair Task 3: Create other data visualizations**

*   **Explore the different opportunities in the Altair library examples and try different options**

In [ ]:
# Write your code here

# **Altair Task 4: Make the data visualization interactive**

*   **Explore the different opportunities in the Altair library examples and try different options**

In [ ]:
# Write your code here

# **Optional task - DataFrame: Create a new column based on existing columns**

In [ ]:
# Write your code here

#hint - use quantitative columns

# **Optional task - DataFrame: Filter rows based on a condition based on one column**

In [ ]:
# Write your code here